.text-input::-webkit-input-placeholder {
    text-align: right;
  }
  
  .text-input:-moz-placeholder {
    text-align: right;
  }
  
  .text-input::-moz-placeholder {
    text-align: right;
  }
  
  .text-input:-ms-input-placeholder {
    text-align: right;
  }

  .submitAddEditHabit{
    margin: 0 auto;
  }

  .addHabitFormItem{
    border-bottom: 1px rgb(34, 34, 34) solid;
  }

  .submitItem{
    padding-top: 33px;
  }